<IfModule mod_rewrite.c>
Options +FollowSymLinks
RewriteEngine on
RewriteRule ^.*/(\d+)/$ filter/index\.php?id=$1&%{QUERY_STRING} [L]
RewriteRule ^.*-(\d+)/$ filter/index\.php?cat=$1&%{QUERY_STRING} [L]

RewriteBase /
</IfModule>